
.users-funcional{
    width: 100%;
    margin: 0px 0px;
    padding-bottom: 10px;
    background-image:url('/back.jpg');
}
.users-funcional button{
    margin: 10px 10px;
    border:none;
    border-radius: 4px;
    background: linear-gradient(rgb(50, 252, 50),rgb(14, 150, 43));
    color: white;
}

.users-message {
    margin: 0px 10px;
    border-radius: 4px;
    height: 500px;
    padding: 20px;
    margin: 0 15px 20px 15px;
    overflow-y: auto;
    background:linear-gradient(rgb(201, 197, 197), gray);
    background-size: 100%;
    overflow-x: hidden;
}
.users-message audio{
    width: 200px;
}
.users-message span{
    display: block;
    font-size: 12pt;
    font-family: monospace;
    width: 70%;
    margin: 7px 0;
    background: white;
    box-shadow: 3px 3px 10px black;
    border-radius: 4px;
    padding:10px 10px
    
}
.users-input {
    width: 300px;
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 4px;
    padding: 5px;
    outline: none;
}