body{
    margin: 0;
}
.chat-funcional{
    width: 100%;
    margin: 0px 0px;
    padding-bottom: 10px;
    background-image:url('/back.jpg');
}
.chat-funcional button{
    margin: 5px 10px;
    border:none;
    border-radius: 4px;
    background: linear-gradient(rgb(50, 252, 50),rgb(14, 150, 43));
    color: white;
}
.chat-name {
    border: none;
    border-radius: 4px;
    width: 100px;
    margin: 10px 10px;
    outline: none;
    
    
}
.chat-message {
    margin: 0px 10px;
    border-radius: 4px;
    height: 450px;
    padding: 20px;
    margin: 0 15px;
    overflow-y: auto;
    background: linear-gradient(rgb(209, 209, 209), white);
    background-size: 100%;
    overflow-x: hidden;
}
.chat-message audio{
    width: 200px;
}

.chat-input {
    width: 300px;
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 4px;
    padding: 5px;
    outline: none;
}

.div-chat-central{
    text-align: right;
    margin: 3px 3px;
}
.div-chat-central-2{
    margin: 2px 0px 0px 0px;
}
.span-meu{
    text-align: left;
    display: inline-block;
    max-width: 70%;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;

    
}
.span-enterExit{
    display: block;
    margin: 0px auto;

}
.meu{
    background-color: #dcf8c6;;
}

.cliente{
    margin-top: 3px;
}